<!doctype html>
<html>
	<head>
	    <meta charset="utf-8">
	    <meta http-equiv="content-type" content="text/html; charset=utf-8">
	    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	    <title><%= title %></title>
	    <meta name="description" content="">
	    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no">
	    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

	    <!-- ################################################## -->
	    <!-- # Automatic Vendor styles handling (Bower) # -->
	    <!-- ################################################## -->

	    <!-- AUTO-BUILD@@dev@@start:css(.) /vendor/styles/vendor.css -->
	    <!-- AUTO-BUILD@@au@@start:css(.) /vendor/styles/vendor.css -->
	    <!-- AUTO-BUILD@@pro@@start:css(.) /vendor.css -->
	    <!-- bower:css -->
	    <!-- endbower -->	    

		<!-- ##################################### -->
	    <!-- # Application styles handling # -->
	    <!-- ##################################### -->

	    <!-- AUTO-BUILD@@pro@@start:css(.) /styles.css -->
		<!-- Hoy Necesito Links : start -->

		<!-- Hoy Necesito Links : end -->
		<!-- AUTO-BUILD@@pro@@end -->

	</head>

  	<body translate-cloak>

	    <div class="wrapper" ng-controller="KongaCtrl">
	        <div ng-view></div>
	    </div>

	    <!-- ################################################## -->
	    <!-- # Automatic Vendor dependencies handling (Bower) # -->
	    <!-- ################################################## -->

	    <!-- AUTO-BUILD@@dev@@start:js(.) /vendor/scripts/vendor.js -->
	    <!-- AUTO-BUILD@@au@@start:js(.) /vendor/scripts/vendor.js -->
	    <!-- AUTO-BUILD@@pro@@start:js(.) /vendor.js -->
	    <!-- bower:js -->
	    <!-- endbower -->
	    <!-- AUTO-BUILD@@dev@@end -->
	    <!-- AUTO-BUILD@@au@@end -->
	    <!-- AUTO-BUILD@@pro@@end -->


  		<!-- ##################################### -->
	    <!-- # Application dependencies handling # -->
	    <!-- ##################################### -->

	    <!-- AUTO-BUILD@@pro@@start:js(.) /scripts.js -->
	    <!-- Hoy Necesito Scripts : start -->

	    <!-- Hoy Necesito Scripts : end -->
	    <!-- AUTO-BUILD@@pro@@end -->
  	</body>
</html>
