<div class="row">
  <div ng-if="metadata.entities.length" class="col-xs-12 col-sm-6 col-md-4 col-lg-3" ng-repeat="entity in metadata.entities">
  	<button class="btn btn-default" ng-click="operations.openEntitySearch(entity)">{{ entity.label | translate }}</button>
  	
  </div>
  <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3" ng-repeat="action in actions">
    <button class="btn btn-{{ action.type }}" ng-click="operations.dispatchAction({{ action.name }})">
      <i class="glyphicon glyphicon-{{ action.icon }}">&nbsp;</i>
      {{ action.title }}
    </button>
  </div>
</div>